@font-face {
    font-family: BlackJack;
    src: url("../blackjack.otf") format("opentype");
    src: url("./blackjack.otf") format("opentype");
}

body {
    font-family: 'Garamond';
    background-image: url('../hills.jpg');

    background-image: url('./hills.jpg');
    background-size: 220vh;
}

.content {
    color: white;
    display: flex;
}

.datetime {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: black;
}

.agenda {
    padding: 1.5vh;
    width: 40%;
}

.day {
    padding-top: 4vh;
    padding-left: 1vh;
}

.day-title {
    font-size: 4vh;
    border-bottom: 2px groove white;
}

.day-contents {
    font-size: 3vh;
    white-space: pre-line;
}

#time {
    font-size: 17vh;
    font-weight: 900;
}

#date {
    font-size: 4.5vh;
    display: block;
}

.message {
    width: 50%;
    padding-top: 10vh;
    padding-left: 5vh;
    text-align: center;
    font-size: 5vh;
}

.message-alert {
    font-size: 6vh;
    color: white;
    font-weight: 900;
    text-shadow:
    3px 3px 0 #000,
   -3px -3px 0 #000,  
    3px -3px 0 #000,
   -3px  3px 0 #000,
    3px  3px 0 #000
}

#message-time {
    font-size: 5.5vh;
    font-weight: 100;
}

#message-body {
    padding-top: 5vh;
    font-family: "BlackJack";
    white-space: pre-wrap;
    min-height: 40%;
}

#message-attachment, img {
    max-height: 300px;
}

#message-id {
    display: none;
}

.today {
    font-size: 3.5vh;
}
